.navbar {
  color: white;
  background-color: red !important;
  text-align: -webkit-center;
}

.site-name {
  font-size: xx-large;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.text-xl {
font-size: 50px;
  color: white;
}

.navbar-default-wrapper {
  text-align: -webkit-center;
}

.wrapper-link-navbar {
  font-size: 20px;
}

.wrapper-link-navbar a {
  color: white ;
}

.breakline-navbar {
  width: 95%;
  border: 1px solid red;
  opacity: unset;
}

.wrapper-user-infor {
  font-size: 20px;
  width: 550px;
  display: flex;
  justify-content: space-around;
}

.wrapper-user-infor button {
  color: red;
}

.user-email {
  margin-right: 20px;
}

.user-email-mobile {
  display: none;
}

.video-shared {
  width: 100%;
  aspect-ratio: 16/9;
}

@media (min-width: 992px) {
  .navbar-default-wrapper .flex-justify-end {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .user-email {
    display: none;
  }

  .user-email-mobile {
    display: block;
  }
}